$primary-color: #20214f;
$secondary-color: #FD000A;
$tertiary-color: #40e0d0;
$support-color: #D1D3C4;
$accent-color: #256EFF;
$warn-color: #DB5461;
$success-color: #16DB93;


$mobile: "max-width: 776px"; 

body {
  font-family: 'Montserrat';
  color: white;
  position: relative;
  width: 100%;
  height: 100%;
}

.container {
  height: 800px;
  background: white;
  .nav {
    .logo {
      font-size: 27px;
      font-family: 'Ranchers', cursive;
      position: absolute;
      margin-top: 7px;
      padding-left: 130px;
      color: $tertiary-color;
      @media screen and ($mobile) {
        padding-left: 1px;
        font-size: 14px;
      }
      img {
        padding-right: 5px;
        width: 24px;
        height: 24px;
      }
    }
    background-color: white;
    position: fixed;
    overflow: hidden;
    top: 0;
    width: 100%;
    padding: 22px;
    form {
      display: flex;
      justify-content: center;
      input {
        text-align: center;
        width: 30%;
        border: none;
        border: 1px double $tertiary-color;
        outline: none;
        padding: 10px 0;
        font-size: 15px;
        @media screen and ($mobile) {
          width: 60%;
        }
      }
    }
  }
  .controls {
    display: flex;
    flex-direction: column-reverse;
    position: fixed;
    bottom: 0;
    width: 100%;
    audio {
      width: 100%;
    }
    canvas {
      width: 100%;
      height: 15vh;
      margin: 0 auto;
      animation-name: canvas;
      animation-duration: 5s;
      animation-timing-function: ease;
      animation-delay: 1s;
      animation-iteration-count: infinite;
      animation-direction: alternate;
      animation-play-state: running;
    }
  }
  .tracks {
    margin-top: 215px;
    ul li {
      font-weight: 200;
      border-radius: 2px;
      margin: 15px 50px;
      padding: 25px;
      cursor: pointer;
      background: $tertiary-color;
      &.playing {
        font-size: 17px;
        font-weight: 500;
        background: $secondary-color;
        z-index: 100;
        animation: fix 0.0s 0.0s linear forwards, beat .99s infinite alternate;
        &:after {
          content: 'NOW PLAYING';
          padding-top: 5px;
          position: absolute;
          background: $secondary-color;
          color: $tertiary-color;
        }
      }
    }
    li:hover {
      font-size: 17px;
      font-weight: 500;
    }
  }
  .title {
    display: flex;
    cursor: pointer;
    p {
      align-self: center;
      font-weight: 700;
    }
    img {
      width: 44px;
      height: 44px;
      margin-right: 8px;
    }
  }
  .stats {
    display: flex;
    font-style: italic;
    .stat {
      padding: 8px 8px 0 0;
    }
    i {
      margin-right: 8px;
    }
    .fa-play {
      color: $secondary-color;
    }
    .fa-heart {
      color: $warn-color;
    }
    .genre {
      color: $accent-color;
    }
  }
}

.loading {
  display: flex;
  align-self: center;
  flex-flow: column wrap;
  img {
    width: 25vw;
    height: 25vw;
    align-self: center;
    animation: 1s dance infinite forwards;
  }
  em {
    color: $primary-color;
    padding-top: 60px;
    align-self: center;
    animation: 1s dance infinite forwards;
  }
}

@keyframes dance {
  40% { transform: scale(1.4) rotate(17deg) }
  70% { transform: scale(0.7) rotate(-27deg) }
}

@keyframes fix {
  100% {
    position: fixed;
    top: 0;
    width: 97%;
    margin: 80px 0;
  }
}

@keyframes canvas {
   0%   { 
      background: white;
      height: 25vh;
   }
   25%  { background: $tertiary-color; }
   50%  { 
     background: white;
     height: 15vh;
  }
   75%  {
    background: $tertiary-color;
    height: 20vh;
  }
   100% { 
      background: white;
   }
 }

@keyframes beat {
	to { transform: scale(0.98); }
}
