$primary-color: #20214f;
$secondary-color: #FD000A;
$tertiary-color: #40e0d0;
$support-color: #D1D3C4;
$accent-color: #256EFF;
$warn-color: #DB5461;
$success-color: #16DB93;


$mobile: "max-width: 776px"; 

body {
  font-family: 'Montserrat';
  color: white;
  position: relative;
  width: 100%;
  height: 100%;
}

.container {
  height: 800px;
  background: white;
  .nav {
    background-color: white;
    position: fixed;
    overflow: hidden;
    top: 0;
    width: 100%;
    padding: 20px;
    form {
      display: flex;
      justify-content: center;
      input {
        text-align: center;
        width: 30%;
        font-size: 20px;
        border: none;
        border: 1px double $tertiary-color;
        outline: none;
        padding: 10px 0;
        font-size: 15px;
        @media screen and ($mobile) {
          width: 60%;
        }
      }
    }
  }
  .controls {
    position: fixed;
    bottom: 0;
    width: 100%;
    background: white;
    audio {
      width: 100%;
    }
  }
  .tracks {
    margin-top: 215px;
    ul li {
      font-weight: 200;
      border-radius: 2px;
      margin: 15px 50px;
      padding: 25px;
      cursor: pointer;
      background: $tertiary-color;
      &.playing {
        background: $secondary-color;
        z-index: 100;
        animation: fix 0.0s 0.0s linear forwards;
        &:after {
          content: 'NOW PLAYING';
          padding-top: 5px;
          position: absolute;
          background: $secondary-color;
          color: $tertiary-color;
        }
      }
    }
    li:hover {
      font-size: 17px;
      font-weight: 500;
    }
  }
  .title {
    display: flex;
    cursor: pointer;
    p {
      align-self: center;
      font-weight: 700;
    }
    img {
      width: 44px;
      height: 44px;
      margin-right: 8px;
    }
  }
  .stats {
    display: flex;
    font-style: italic;
    .stat {
      padding: 8px 8px 0 0;
    }
    i {
      margin-right: 8px;
    }
    .fa-play {
      color: $secondary-color;
    }
    .fa-heart {
      color: $warn-color;
    }
    .genre {
      color: $accent-color;
    }
  }
}

.preloader {
  display: flex;
  align-self: center;
  flex-flow: column wrap;
  img {
    width: 25vw;
    height: 25vw;
    align-self: center;
    animation: 1s dance infinite forwards;
  }
}

@keyframes dance {
  40% { transform: scale(1.4) rotate(17deg) }
  70% { transform: scale(0.7) rotate(-27deg) }
}

@keyframes fix {
  100% {
    position: fixed;
    top: 0;
    width: 100%;
    margin: 80px 0 0 0;
  }
}
