$primary-color: black;
$secondary-color: gray;
$tertiary-color: blue;

body {
  font-family: 'Open Sans', sans-serif;
  color: $primary-color;
}

.container {
  width: 95%;
  position: relative;
  height: 800px;
  .search {
    input {
      text-align: center;
      font-size: 20px;
      padding: 30px 20px;
      margin: 10px 15px;
      width: 100%;
      border: none;
      border-bottom: 3px solid;
      outline: none;
    }
  }
  .player {
    audio {
      position: absolute;
      width: 100%;
      bottom: 0;
      left: 0;
    }
  }
}
